<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% section 'custom-fonts' %}
    <style>
      @font-face {
        font-family: "Proxima nova bold";
        src: url("{{ 'Fontspring-DEMO-proximanova-bold' | asset_url }}") format("[font-format]");
      }
      @font-face {
        font-family: "Proxima nova medium";
        src: url("{{ 'Fontspring-DEMO-proximanova-medium' | asset_url }}") format("[font-format]");
      }
      @font-face {
        font-family: "Proxima nova regular";
        src: url("{{ 'Fontspring-DEMO-proximanova-regular' | asset_url }}") format("[font-format]");
      }
      @font-face {
        font-family: "Proxima nova thin";
        src: url("{{ 'Fontspring-DEMO-proximanova-thin' | asset_url }}") format("[font-format]");
      }
      h1, h2, h3, h4, h5, h6, p, a {
        font-family: 'Proxima nova bold';
      }
      :root {
        --main-gray: #f3f3f3;
        --second-gray: #818181;
      }
    </style>
    {{ 'header.css' | asset_url | stylesheet_tag }}
    {{ 'footer.css' | asset_url | stylesheet_tag }}
    <title>CONCEY 32</title>
    {{ content_for_header }}
  </head>
  <body>
    {% section 'header' %}
    {{ content_for_layout }}
    {% section 'footer' %}
  </body>
</html>
