<section class="contact">
  <div class="contact-section">
    <h2 class="contact-title">{{ section.settings.contact_title }}</h2>
    <p class="contact-paragraph">{{ section.settings.contact_description }}</p>
    <!-- Card 1 -->
    <div class="block-conainer">
      <div class="box">
        {% for block in section.blocks %}
          <div class="contact-card">
            <!-- Front of the Card -->
            <div class="card-front">
              <div class="card-icon">
                {{ block.settings.card_icon | image_url: width: 32 | image_tag: alt: block.settings.card_icon.alt }}
              </div>
              <h3 class="contant-box-title">{{ block.settings.card_title }}</h3>
              <p class="card-description">{{ block.settings.card_description }}</p>
            </div>
            <!-- Back of the Card -->
            <div class="card-back">
              <p>Additional information here.</p>
              <a href="#">Click here for more</a>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
    "name": "contact",
    "settings": [
    {
        "type": "text",
        "label": "Contact Title",
        "id": "contact_title",
        "default": "Contact Us"
    },
    {
        "type": "textarea",
        "label": "Contact Description",
        "id": "contact_description",
        "default": "Have questions or need assistance? Feel free to reach out to us:"
    }
    ],
    "blocks": [{
      "type": "contact_card",
      "name": "contact card",
      "limit": 3,
      "settings": [
        {
            "type": "text",
            "label": "Card Title",
            "id": "card_title",
            "default": "Phone number"
        },
        {
            "type": "image_picker",
            "label": "Card Icon",
            "id": "card_icon"
        },
        {
            "type": "textarea",
            "label": "Card 1 Description",
            "id": "card_description",
            "default": "Leverage agile frameworks to provide a robust synopsis."
        }
      ]
    }],
    "presets": [
    {
        "name": "Default",
        "category": "Custom"
    }
]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
