<footer id="footer" class="footer">
  <nav id="footer-navigation" class="footer-navigation" data-content-field="navigation-footer-navigation">
    <div class="nav">
      <ul class="footer-menu">
        {% # logic brackets %}
        {% for link in section.settings['footer-menu'].links %}
          <li class="footer-menu-item">
            {% # return of a value or object %}
            <a href="{{ link.url }}">{{ link.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </nav>

  <div class="footer-icons">
    {% if settings.fb_link != blank %}
      <div class="facebook-icon">
        <a href="{{ settings.fb_link }}" target="_blank" rel="noopener noreferrer">
          {% render 'facebook-icon' %}
        </a>
      </div>
    {% endif %}

    {% if settings.tw_link != blank %}
      <div class="twitter-icon">
        <a href="{{ settings.tw_link }}" target="_blank" rel="noopener noreferrer">
          {% render 'twitter-icon' %}
        </a>
      </div>
    {% endif %}

    {% if settings.ig_link != blank %}
      <div class="instagram-icon">
        <a href="{{ settings.ig_link }}" target="_blank" rel="noopener noreferrer">
          {% render 'instagram-icon' %}
        </a>
      </div>
    {% endif %}
  </div>
</footer>

{% schema %}
{
  "name": "footer",
  "settings": [
    {
      "type": "link_list",
      "id": "footer-menu",
      "label": "Menu"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
