<footer id="footer" class="footer">
  <nav id="footer-navigation" class="footer-navigation" data-content-field="navigation-footer-navigation">
    <div class="nav">
      <ul class="footer-menu">
        {% # logic brackets %}
        {% for link in section.settings['footer-menu'].links %}
          <li class="footer-menu-item">
            {% # return of a value or object %}
            <a href="{{ link.url }}">{{ link.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </nav>
  <div class="under-footer">
    <ul class="list list-payment" role="list">
      {%- for type in shop.enabled_payment_types -%}
        <li class="list-payment__item">
          {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
        </li>
      {%- endfor -%}
    </ul>

    <div class="footer-icons">
      {% if settings['fb-link'] != blank %}
        <div class="icon facebook-icon">
          <a href="{{ settings.fb-link }}" target="_blank" rel="noopener noreferrer">
            {% render 'facebook-icon' %}
          </a>
        </div>
      {% endif %}

      {% if settings['tw-link'] != blank %}
        <div class="icon twitter-icon">
          <a href="{{ settings.tw-link }}" target="_blank" rel="noopener noreferrer">
            {% render 'twitter-icon' %}
          </a>
        </div>
      {% endif %}

      {% if settings['ig-link'] != blank %}
        <div class="icon instagram-icon">
          <a href="{{ settings.ig-link }}" target="_blank" rel="noopener noreferrer">
            {% render 'instagram-icon' %}
          </a>
        </div>
      {% endif %}
    </div>
  </div>
</footer>

{% schema %}
{
  "name": "footer",
  "settings": [
    {
      "type": "link_list",
      "id": "footer-menu",
      "label": "Menu"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
