<header>
  {% if section.settings.show_announcement %}
    {% if section.settings['announcement-link'] %}
      <a href="{{ section.settings.announcement-link }}" class="announcement">
        {{- section.settings.announcement_text -}}
      </a>
    {% else %}
      <p class="announcement">{{ section.settings.announcement_text }}</p>
    {% endif %}
  {% endif %}
  <div class="main-header">
    <div class="nav-icon-2 nav-button-2">
      {% render 'nav-icon' %}
    </div>
    <div class="site-logo">
      {{ settings.logo | image_url: width: '200px' | image_tag: width: '200px', class: 'logo' }}
      {{ settings.logo | image_url: width: '150px' | image_tag: width: '150px', class: 'logo-responsive responsive' }}
    </div>

    <div class="nav-icon cart-drawer-toggle">
      <button class="cart-btn" onclick="window.openCartDrawer()">{% render 'cart-icon' %}</button>
      <!-- <button class="cart-btn" onclick="window.openCartDrawer()">{% render 'add-to-cart-icon' %}</button> -->
    </div>
  </div>

  <nav class="header-nav">
    <ul class="header-menu">
      {% for link in section.settings['main-menu'].links %}
        <li class="menu-item">
          <a href="{{ link.url }}" class="menu-item-link">{{ link.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </nav>
</header>
<div class="left-drawer">
  <button class="close-drawer-btn">{% render 'close-menu' %}</button>
  <nav>
    <ul class="drawer-menu">
      {% for link in section.settings['main-menu'].links %}
        <li class="drawer-menu-item">
          <a href="{{ link.url }}" class="drawer-menu-item-link">{{ link.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </nav>
</div>
<script>
        document.addEventListener('DOMContentLoaded', function() {
      var header = document.querySelector('header');
      var initialHeight = header.offsetHeight;
      var leftDrawer = document.querySelector('.left-drawer');
      var closeDrawerBtn = document.querySelector('.close-drawer-btn');
      var navIcon2 = document.querySelector('.nav-icon-2');

      window.addEventListener('scroll', function() {
        if (window.scrollY > initialHeight) {
          header.classList.add('shrink');
        } else {
          header.classList.remove('shrink');
        }
      });

          navIcon2.addEventListener('click', function() {
    leftDrawer.classList.add('open');
  });
              closeDrawerBtn.addEventListener('click', function() {
    leftDrawer.classList.remove('open');
  });
    });
</script>
{% schema %}
{
  "name": "header",
  "settings": [
    {
      "type": "link_list",
      "id": "main-menu",
      "label": "Menu"
    },
    {
      "type": "checkbox",
      "id": "show_announcement",
      "label": "Show announcement",
      "default": true
    },
    {
      "type": "text",
      "id": "announcement_text",
      "label": "announcement text",
      "default": "This is the announcement bar"
    },
    {
      "type": "url",
      "id": "announcement-link",
      "label": "announcement link"
    },
    {
      "type": "checkbox",
      "id": "menu-style",
      "label": "Change menu style",
      "default": false
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
