<product-grid>
  {% if section.settings['parallax-image'] != blank %}
    <section class="parallax">
      <div class="parallax-inner">
        <h1 class="parallax-text">CONCEY32</h1>
        <h1 class="parallax-text2">THE STORY CONTINUES</h1>
        <img
          src="{{ section.settings.parallax-image | image_url }}"
          class="img-parallax"
        >
        <div class="white-gradient"></div>
      </div>
      <div class="product-section">
        <div class="product-header">
          <h2 class="section-title">Featured Items</h2>
          <div class="slick-buttons">
            <button class="slick-prev-c" onclick="() => $('.slick-carousel').slick('slickPrev')">
              {% render 'arrow-left-icon' %}
            </button>
            <button class="slick-next-c" onclick="() => $('.slick-carousel').slick('slickNext')">
              {% render 'arrow-right-icon' %}
            </button>
          </div>
        </div>
        <div class="slick-carousel">
          {% for product in section.settings.collection.products %}
            <div class="product">
              {{ product.images.first.src | image_url: width: '200' | image_tag }}
              <div class="product-footer">
                <h4 class="product-collection">{{ product.collections[1].title }}</h4>
                <h3 class="product-title">{{ product.title }}</h3>
                <p class="price">{{ product.price }}</p>
              </div>
            </div>
          {% endfor %}
        </div>
        <div>
          <img
            src="{{ section.settings.stilized-image | image_url }}"
            class="stilized-image"
          >
        </div>
      </div>
    </section>
  {% endif %}

  <script>
       
  window.addEventListener('scroll', function() {
    const parallax = document.querySelector('.img-parallax');
    const scrolled = window.scrollY;
    parallax.style.transform = `translateY(${scrolled * 0.5}px)`;
  });
  $('.slick-prev-c').on('click', () => {$('.slick-carousel').slick('slickPrev')}); 
  $('.slick-next-c').on('click', () => {$('.slick-carousel').slick('slickNext')}); 














  </script>
</product-grid>

{% schema %}
{
  "name": "product grid",
  "settings": [{
  "type": "collection",
  "id": "collection",
  "label": "Collection"
},
{
  "type": "image_picker",
  "id": "parallax-image",
  "label": "parallax image"
},
{
  "type": "image_picker",
  "id": "stilized-image",
  "label": "stilized image"
}
],
  "presets" : [{ "name" : "product grid" }]
}
{% endschema %}
